# ASA Beverages (Aquevia) Environment Configuration
# Webhook URL for Contact Us Form (Subsheet 1: Contact form)
CONTACT_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbztDqPJ7yBx-iH4x0ATbhmfxoh9iSNE1SQadCT0NRItdhcn5tpHKbhQzQk2xyuvrzcn/exec

# Webhook URL for B2B Distributor Form (Subsheet 2: Distributor form)
DISTRIBUTOR_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbzfxsZVnADhwQo23d6viDHZG9A1gCCjySFluk_LfPNzrB8Yce3U0B9fG9CG57KKo74/exec
